# Hardhat & Solidity artifacts
node_modules
cache
artifacts
typechain
typechain-types

# Environment variables & Private keys
.env
.env.*
!.env.example

# Coverage & testing reports
coverage
coverage.json

# System & IDE files
.DS_Store
.vscode
.idea
